
/.idea
/target
/pics2code.iml
/android_source_project/pics2code_android_project/.gradle
/android_source_project/pics2code_android_project/.idea
/android_source_project/pics2code_android_project/app/build
/android_source_project/pics2code_android_project/app/app.iml